<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ten.lifecat.phone">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/lifecat_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/lifecat_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ten.lifecat.phone.view.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ten.lifecat.phone.view.activity.UserProfileActivity"
            android:label="LifeCat" />
        <activity
            android:name="com.ten.lifecat.phone.view.activity.WebActivity"
            android:label="访问服务" />
        <activity
            android:name="com.ten.lifecat.phone.view.activity.SettingsActivity"
            android:label="设置" />
        <activity
            android:name="com.ten.lifecat.phone.view.activity.UploadImage"
            android:label="选择图片" />
        <activity android:name="com.ten.lifecat.phone.view.activity.LoginActivity" />
        <activity android:name="com.ten.lifecat.phone.view.activity.SignupActivity" />
        <activity
            android:name="com.ten.lifecat.phone.view.activity.BackgroundActivity"
            android:label="lifecat" />
        <activity
            android:name="com.ten.lifecat.phone.view.activity.UploadActivity"
            android:label="上传图片" />
        <activity
            android:name="com.ten.lifecat.phone.view.activity.PhotoActivity"
            android:label="相册Album" />
        <activity
            android:name="com.yanzhenjie.album.AlbumActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="图库"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
    </application>

</manifest>